/* universal css */
body {
    margin: 0;
    padding: 0;
}

.font-manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* universal css */
/* program styles  */
.program{
    height: 350px;
    border-radius: 16px;
    align-items: flex-end;
    padding: 30px;
}
.product{
    width: 90%;
}
.product p{
    width: 90%;
}
.form-input:focus-visible{
    
}
.form-input input,textarea{
    background: #f8fdf0 !important;
    padding: 15px 60px 15px 20px !important;
    width: 95% !important;
    margin: 10px 0 !important;
    text-transform: capitalize !important;
    border-radius: 8px !important;
    outline-style:none !important;
}
.form-input{
    margin:10px 0 !important;
}

/* program styles  */

@media (max-width:640px) {
    .container{
        width: 95% !important;
        margin: 0 auto;
    }
    .header-banner{
        padding:20px 0 0;
    }
    .header-card{
        margin-top: 10px;
    }
    .progress-bar{
        margin-top: 30px;
    }
    .program{
        width: 95% !important;
    }
    .program2{
        margin-top: 16px;
    }
    .product{
        flex-direction: column;
        margin: 10px 0;

    }
    .product-wrap{
        padding: 0 ;
        
    }
    .product-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-img{

        padding-right: 0 !important;
        padding-bottom: 20px;
    }
    .product-img img{
        width: 100%;
    }
    .form-input input{
        width: 100% !important;
    }

    .nav-2,.nav-3{
        display: none !important;
    }
    .footer{
        padding: 40px 30px;
        justify-items: center !important;
        
    }
    .footer_p{
        text-align: center;
    }
    .footer>*{
        justify-items: center !important;
    }
}